# General
temp
build.config
*.iws

# Flash Builder
actionscript/bin
actionscript/bin
.actionScriptProperties
.flexLibProperties

# Eclipse
.settings
.project

# Android
android/assets
android/bin
android/gen
android/lint.xml
android/res/drawable*
android/res/values/strings.xml
android/res/layout
android/AndroidManifest.xml
.classpath
proguard-project.txt
project.properties

# Xcode
xcuserdata

# OS X
Icon
Thumbs.db
.DS_Store